workflow/study-planner-agent.json
{
  "name": "Study Planner Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 16],
      "id": "webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [288, 240],
      "id": "groq-model",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "your-groq-credential-id",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a Calendar + Task Planning Agent for a Computer Science student building a systematic execution system.\n\nYour job is to convert a weekly study / work plan into structured JSON for:\n1. Calendar events (scheduled time blocks)\n2. Tasks (action items / checklist items)\n3. Milestones (deadline-based goals / targets)\n\nTimezone: Asia/Kolkata (UTC +05:30)\nReturn ONLY valid JSON with keys: events, tasks, milestones\n{{ $json.plan_text }}",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [224, 16],
      "id": "llm-chain",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "function cleanJson(rawOutput) {\n  let raw = rawOutput.text || rawOutput.output || rawOutput.response || rawOutput.completion || JSON.stringify(rawOutput);\n  raw = String(raw).trim();\n  raw = raw.replace(/^```[a-z]*\\s*/i, '').replace(/\\s*```$/i, '');\n  const firstBrace = raw.indexOf('{');\n  const lastBrace = raw.lastIndexOf('}');\n  if (firstBrace === -1 || lastBrace === -1 || lastBrace <= firstBrace) {\n    throw new Error('Could not find valid JSON in LLM output');\n  }\n  const jsonOnly = raw.slice(firstBrace, lastBrace + 1);\n  let parsed;\n  try {\n    parsed = JSON.parse(jsonOnly);\n  } catch (parseError) {\n    const fixed = jsonOnly.replace(/,\\s*}/g, '}').replace(/,\\s*]/g, ']');\n    try {\n      parsed = JSON.parse(fixed);\n    } catch (retryError) {\n      throw new Error('Model output is not valid JSON after cleanup');\n    }\n  }\n  const events = Array.isArray(parsed.events) ? parsed.events : [];\n  const tasks = Array.isArray(parsed.tasks) ? parsed.tasks : [];\n  const milestones = Array.isArray(parsed.milestones) ? parsed.milestones : [];\n  return { json: { events, tasks, milestones } };\n}\ntry {\n  return [cleanJson($json)];\n} catch (error) {\n  throw new Error('JSON Parser Error: ' + error.message);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [576, 16],
      "id": "parser",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "events",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [800, -176],
      "id": "split-events",
      "name": "Split Events"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [800, 16],
      "id": "split-tasks",
      "name": "Split Tasks"
    },
    {
      "parameters": {
        "fieldToSplitOut": "milestones",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [800, 208],
      "id": "split-milestones",
      "name": "Split Milestones"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "your-email@gmail.com",
          "mode": "list",
          "cachedResultName": "your-email@gmail.com"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "location": "={{ $json.location }}",
          "summary": "={{ $json.title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1024, -176],
      "id": "create-event",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "your-calendar-credential-id",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "task": "your-tasks-list-id-here",
        "title": "={{ $json.title }}",
        "additionalFields": {
          "dueDate": "={{ $json.due ? $json.due + 'T00:00:00.000Z' : '' }}",
          "notes": "={{ $json.notes }}"
        }
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [1024, 16],
      "id": "create-task",
      "name": "Create a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "your-tasks-credential-id",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "task": "your-milestones-list-id-here",
        "title": "={{ $json.title }}",
        "additionalFields": {
          "dueDate": "={{ $json.due ? $json.due + 'T00:00:00.000Z' : '' }}",
          "notes": "={{ $json.notes }}"
        }
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [1024, 208],
      "id": "create-milestone",
      "name": "Create a task1",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "your-tasks-credential-id",
          "name": "Google Tasks account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]]
    },
    "Basic LLM Chain": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "Split Events", "type": "main", "index": 0 }, { "node": "Split Tasks", "type": "main", "index": 0 }, { "node": "Split Milestones", "type": "main", "index": 0 }]]
    },
    "Split Events": {
      "main": [[{ "node": "Create an event", "type": "main", "index": 0 }]]
    },
    "Split Tasks": {
      "main": [[{ "node": "Create a task", "type": "main", "index": 0 }]]
    },
    "Split Milestones": {
      "main": [[{ "node": "Create a task1", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "study-planner-agent"
  }
}
